;;Yes, it's all bad.
;; How do you handle interactions + future states?
;; I would typically put actions in logic and multimethod it. Perhaps not a great fit?
[{:card    :cellar
  :type    #{:action}
  :cost    [:coin 2]
  :actions [[:actions +1]
            [:from :hand [:discard *] :to :discard]
            [:from :deck [:draw *] :to :hand]]}
 {:card    :chapel
  :type    #{:action}
  :cost    [:coin 2]
  :actions [[:actions +1]
            [:from :hand [:trash < 5]]]}
 {:card     :moat
  :type     #{:action :reaction}
  :cost     [:coin 2]
  :actions  [:from :deck [:draw +2] :to :hand]
  :reaction [[:optional?
              [:negate :attack]
              [:reveal]]]}
 {:card    :harbinger
  :type    #{:action}
  :cost    [:coin 3]
  :actions [[:draw +1]
            [:action +1]
            [:from :discard [:draw 1] :to :deck]]}]
